extends ../layout

block content 
  h1 Create New Product 
  form(action="/product/create" method="post")
    div 
     label(for="name") Name 
     input#name(type="text", name="name")  
    div 
     label(for="price") Price
     input#price(type="text", name="price") 
    div 
      input(type="submit", value="Update")