extends ../layout

block content 
  h1 Update Product 
  form(action="/product/update" method="post")
    div 
     label(for="name") Name 
     input#name(type="text", name="name" value=product.name)  
    div 
     label(for="price") Price
     input#price(type="text", name="price" value=product.price) 
    div 
      input(type="submit", value="update")